<mat-nav-list>
	<div class="profile-card">
		<div class="header">
			<h2>Firulai</h2>
			<h4>beto@h2c.com.sv</h4>
		</div>
		<img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="firulay" />
	</div>
	<mat-divider></mat-divider>
	<h2 matSubheader>Modulos</h2>
	<a mat-list-item routerLinkActive="lis-item-active" routerLink="/">Admin-Sistemas</a>
	<a mat-list-item routerLinkActive="lis-item-active" routerLink="/">Facturacion</a>
	<a mat-list-item routerLinkActive="lis-item-active" routerLink="/">Inventario</a>
	<a mat-list-item routerLinkActive="lis-item-active" routerLink="/">Cuentas por Cobrar</a>
	<a mat-list-item routerLinkActive="lis-item-active" routerLink="/">Contabilidad General</a>
	<a mat-list-item routerLinkActive="lis-item-active" routerLink="/">Control Bancario</a>
	<a mat-list-item routerLinkActive="lis-item-active" routerLink="/">Cuentas por Pagar</a>
</mat-nav-list>
