<form class="buscar">
	<mat-form-field class="full-with" appearance="fill">
		<input matInput (keyup)="applyFilter($event)" placeholder="Buscar Lote" #input />
	</mat-form-field>
</form>

<div class="mat-elevation-z8">
	<mat-table [dataSource]="listLote" matSort>
		<ng-container matColumnDef="Lote">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Lote</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.codLote }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="Articulo">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Articulo</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.articulo.codArticulo }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="Descripcion">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.articulo.descripcion }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="Perecedero">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Perecedero</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-checkbox type="checkbox" [(ngModel)]="element.articulo.perecedero"></mat-checkbox>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="Vencimiento">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Vencimiento</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.fechaVencimiento | date: 'dd/MM/yyyy' }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="Estado">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.estado }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="Ingreso">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Ingreso</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.fechaEntrada | date: 'dd/MM/yyyy' }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let element">
				<button mat-icon-button (click)="clickAplicar(element.id)">
					<mat-icon>approval</mat-icon>
				</button>
				<button mat-icon-button (click)="clickEdit(element)">
					<mat-icon>edit</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
		</tr>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[10, 25, 75, 100]" showFirstLastButtons></mat-paginator>
</div>
