<app-header></app-header>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
	<mat-card class="box">
		<mat-card-header>
			<mat-card-title>Mi Cuenta</mat-card-title>
		</mat-card-header>
		<form class="example-form">
			<mat-card-content>
				<mat-form-field class="example-full-width">
					<input type="Email" matInput placeholder="Email" />
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input type="password" matInput placeholder="Contraseña" />
				</mat-form-field>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="NIT Compañia" />
				</mat-form-field>
			</mat-card-content>
			<button mat-stroked-button color="accent" class="btn-block">Ingresar</button>
		</form>
	</mat-card>
</div>
