<app-header></app-header>
<div class="login-wrapper ps" fxLayout="row wrap" fxLayoutAlign="center center">
	<div
		fxLayout="row"
		fxLayout.xs="column"
		fxLayoutAlign="start stretch"
		fxFlex="60"
		fxflex.xs="94"
		fxflex.sm="80"
		class="singup-container mat-elevation-z4"
	>
		<div fxlayout="row wrap" fxLayoutAlign="center center" fxflex="20" class="singup-header">
			<div fxLayout="row wrap" fxLayoutAlign="center center" class="singup-logo">
				<img width="400px" src="../../../../assets/logos/LogoStatusERP.jpeg" alt="Photo of a Shiba Inu" />
			</div>
		</div>
		<div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="center center" class="box">
			<form class="singup-form grey-100" autocomplete="off" [formGroup]="formGroup">
				<mat-form-field class="example-full-width" appearance="fill">
					<input type="Email" matInput placeholder="Email" formControlName="email" />
					<mat-error *ngIf="formGroup.get('email')!.hasError('required')">El Correo es requerido</mat-error>
					<mat-error *ngIf="formGroup.get('email')!.hasError('email')">El Correo no es valido</mat-error>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
					<button
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					</button>
					<mat-error *ngIf="formGroup.get('password')!.hasError('required')">La contraseña es requerida</mat-error>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<input
						matInput
						placeholder="Empresa"
						formControlName="empresa"
						type="text"
						[(ngModel)]="inputValue"
						(ngModelChange)="inputValue = $event.toUpperCase()"
					/>
					<mat-error *ngIf="formGroup.get('empresa')!.hasError('required')">Nombre de Empresa es requerida</mat-error>
				</mat-form-field>
				<div fxLayout="row" fxLayoutAlign="start center" class="pie">
					<button
						mat-flat-button
						color="primary"
						type="button"
						[disabled]="formGroup.invalid"
						class="mat-flat-button mat-button-base mat-primary"
						(click)="clickLogin()"
					>
						<span class="mat-button-wrapper"> Iniciar Sesión</span>
						<div matripple class="mat-ripple mat-button-ripple"></div>
						<div class="mat-button-focus-overlay"></div>
					</button>
					<span class="px-16">o</span>
					<a class="font-weight-bold mat-color-primary" href="#">¿Olvidaste tu contraseña?</a>
				</div>
			</form>
		</div>
	</div>
</div>
