.formulario {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


mat-form-field{  
        width: 90%;
                
      
}

.title_box { 
    border: #3c5a86 1px dotted; 
}
.title_box #title { 
    position: relative; 
    top : -0.5em;
    margin-left: 1em;
    display: inline; 
    background-color: white; 
}
.title_box #content {
 padding: 10px;
}
